*{
    margin:0 ;
    padding: 0;
}
h1{
    background-color: #9bb7d9;
     color: black;
     height:4rem;
     text-align: center;
     line-height: 4rem;
}
.choice{
    height: 165px;
     width: 165px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
}
.choice:hover{
   background-color:rgb(23, 21, 21) ;
    cursor: pointer;
}
img{
    height:150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem; 
    margin-top: 4rem;
}
.score-bord{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  gap:5rem;
  margin-top: 4rem;

}
#user-score,#comp-score{
    font-size: 4rem;
}
.meg-container{
    margin-top: 5rem;
}
#msg{
    background-color: black;
    color: aliceblue;
    font-size: 2rem;
    display: inline;
    border-radius: 1rem;
    padding: 1rem;
    justify-content: center;
  align-items: center;
}
body{
    text-align: center;
}